*{
    margin: 0;
    padding: 0;
    background-color: #F5F8FF ;
    max-width: 1440px;
}


/*fonts*/
.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #1E1E1E;
    line-height: 1.5;
    background-color: #F5F8FF;
}

/*header*/
.header {
    background-image: url(Assets/Hero-bg.png);
    padding: 50px 150px;
}
.header nav{
    display: flex;
    justify-content: space-between;
    background: transparent;
}
.header nav .logo p {
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
}
.btn-main {
    background-color: #4E47FF;
    color: #FFFFFF;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
}
.header .hero{
    width: 1050px;
    background: transparent;
    margin: 158px auto;
    text-align: center;
    
}
.header .hero h1 {
    font-size: 64px;
    font-weight: bold;
    color: #1E1E1E;
    padding: 0 50px;
    background: transparent;
}
.header .hero button {
    margin-top: 37px;
}
.action{
    display: flex;
    justify-content: center;
    gap: 150px;
    align-items: center;
    width: 1050px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
.action .left h3{
    font-size: 38px;
    font-weight: bold;
    color: #1E1E1E;
}
.action .left p{
    font-size: 24px;
    color: #252432;
    opacity: 0.5;
    margin-top: 20px;
    margin-bottom: 20px;
}
.action .right img{
    width: 403px;
    height: auto;
    border-radius: 48px;
} 
.numbers{
    max-width: 1050px;
    margin: auto;
    background-color: rgba(78, 71, 255, 0.1);
    margin: 150px auto;
    border-radius: 24px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.numbers h2{
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    color: #1E1E1E;
    background: transparent;
}
.numbers .number{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    background: transparent;
    padding: 20px 50px;
    text-align: center;
}
.numbers .number >div{
    margin: 0px 50px;
}
.numbers .number h1{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    background-color: rgba(78, 71, 255, 0.1);

}
.numbers .number p{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5); /* black with 50% opacity */
    background-color: rgba(78, 71, 255, 0.1);
}

.user_review{
    max-width: 1050px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
}

.user_review h2{
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    color: #1E1E1E;
    margin-bottom: 50px;
}

.user_review .review{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.user_review .review >div{
    background-color: #ffffff;
    border-radius: 14px;
    padding: 24px;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
}


.user_review .review >div p{
    margin: 10px 0px;
    background: transparent;
    font-size: 16px;
    font-weight: 300;
}

.user_review .review >div h5{
    margin-top: 24px;
    background: transparent;
    font-size: 20px;

}

.user_review .review >div .user{
    margin-top: 14px;
}

.user_review .review >div .user{
    display: flex;
    background: transparent;
}
.user_review .review >div .user .reviewer{
    background: transparent;
}

.user_review .review >div .user img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.user_review .review >div .user .reviewer p{
    font-size: 14px;
    
}

.focus{
    max-width: 1050px;
    margin: 0 auto;
    background-color: white;
    border-radius: 14px;
    text-align: center;

}

.focus h2{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    background: transparent;
    padding-top: 71px;

}

.focus p{
    text-align: center;
    font-size: 16px;
    background: transparent;
    margin: 20px 0px;
}

.focus img{
    border-radius: 48px;
    margin-bottom: 71px;
}

.focus button{
    margin-bottom: 20px;
}
/*4E47FF*/